image: Visual Studio 2019

clone_depth: 3

platform:
  - Win32
  - x64

configuration:
  - Debug
  - Release

matrix:
  fast_finish: false

# scripts that are called at very beginning, before repo cloning
init:
  - cmd: cmake --version
  - cmd: msbuild /version

install:
  - git submodule update --init --recursive

before_build:
  - cmake -Sexec -Bbuild -A%PLATFORM% -DCMAKE_BUILD_TYPE=%configuration%

build:
  project: build/galStarterTemplateExec.sln
  parallel: true
  verbosity: minimal

#test_script:
#  - cd build
#  - set CTEST_OUTPUT_ON_FAILURE=1
#  - ctest -C %configuration%
#  - cd ..
