name: linux

on:
    push:
    pull_request:

jobs:
    build-and-test:
        
        name: ${{ matrix.toolchain }}
        runs-on: ${{ matrix.os }}
        
        strategy:
            matrix:
                toolchain:
                    - linux-gcc
                
                configuration:
                    - Debug
                    - Release
                
                include:
                    -   toolchain: linux-gcc
                        os: ubuntu-latest
                        compiler: gcc
        
        steps:
            -   name: Checkout Code
                uses: actions/checkout@v2
                with:
                    submodules: true
            -   name: Configure (${{ matrix.configuration }})
                run: cmake -S . -Bbuild -DCMAKE_BUILD_TYPE=${{ matrix.configuration }}
            -   name: Build with ${{ matrix.compiler }}
                run: cmake --build build
            -   name: Build and run test
                working-directory: build
                env:
                    CTEST_OUTPUT_ON_FAILURE: 1
                run: ctest -C ${{ matrix.configuration }}
